<nav class="navbar">
    <div class="logo">
        <img src="assets/leetcode_logo.svg" alt="LeetCode Logo">
    </div>
    <ul class="nav-links">
        <li><a href="#">Problems</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Contest</a></li>
        <li><a href="#">Discuss</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="#">Premium</a></li>
    </ul>
    <div class="profile">
        <span (click)="redirectToProfile()">
            <img src="assets/profile_photo.jpg" alt="Profile Photo">
        </span>
    </div>
</nav>