<form [formGroup]="createForm" (ngSubmit)="submitForm()" class="form-container">
    <div class="p-grid p-fluid">
      <div class="p-field p-col-12 p-md-6">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" class="p-inputtext" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="p-inputtext" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="login">Login</label>
        <input id="login" type="text" formControlName="login" class="p-inputtext" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" class="p-inputtext" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="role">Role</label>
        <input id="role" type="text" formControlName="role" class="p-inputtext" />
      </div>
    </div>
    <button type="submit" pButton label="Submit" [disabled]="!createForm.valid" class="p-button-success p-button-lg">Create User</button>
  </form>
  