<app-navbar></app-navbar>

<body>
    <h2>Problem Table</h2>
    
    <table class="problem-table">
        <tr>
            <th>Problem</th>
            <th>Difficulty</th>
            <th>Topic</th>
        </tr>
        <tr>
            <td>Two Sum</td>
            <td>Easy</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Reverse Integer</td>
            <td>Easy</td>
            <td>Math</td>
        </tr>
        <tr>
            <td>Longest Substring Without Repeating Characters</td>
            <td>Medium</td>
            <td>Strings</td>
        </tr>
        <tr>
            <td>Container With Most Water</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>3Sum</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Valid Parentheses</td>
            <td>Easy</td>
            <td>Stacks</td>
        </tr>
        <tr>
            <td>Maximum Depth of Binary Tree</td>
            <td>Easy</td>
            <td>Trees</td>
        </tr>
        <tr>
            <td>Merge Intervals</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Best Time to Buy and Sell Stock</td>
            <td>Easy</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Valid Sudoku</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Group Anagrams</td>
            <td>Medium</td>
            <td>Strings</td>
        </tr>
        <tr>
            <td>Jump Game</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Word Search</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Binary Tree Inorder Traversal</td>
            <td>Medium</td>
            <td>Trees</td>
        </tr>
        <tr>
            <td>Combination Sum</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Unique Paths</td>
            <td>Medium</td>
            <td>Dynamic Programming</td>
        </tr>
        <tr>
            <td>Search in Rotated Sorted Array</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Subsets</td>
            <td>Medium</td>
            <td>Arrays</td>
        </tr>
        <tr>
            <td>Palindrome Number</td>
            <td>Easy</td>
            <td>Math</td>
        </tr>
        <tr>
            <td>ZigZag Conversion</td>
            <td>Medium</td>
            <td>Strings</td>
        </tr>
    </table>
</body>